.spoiler-header {
    cursor: pointer;
    color: #efefef;
    background-color: #1c4e63;
    margin-left: 5px;
}
.spoiler-content {
    display: none;
    margin-top: 10px;
    background-color: #eeeeee;
}

pre code {
    display: block;
    padding: 1em;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word; 
}

pre {
    overflow: auto;
}

code {
    color: #d63384;
    background-color: #f8f9fa;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
}